<div class="container">
  <div class="expense-head">
     <h1> <%= link_to user_groups_path do %>
        <i class="fa fa-arrow-left" style="color: #372948; padding-left: 22px"> </i>
        <% end %>
     </h1>
  </div>
  <h2 class="d-flex justify-content-center align-items-center expense-title">Transactions</h1>
  <% if @expenses.count > 0 %>
  <div class="card p-2">
    <div class="expense-total">
      <h4>Total Amount Budget:</h4>
      <h4> <%= number_to_currency(@expenses.sum(&:amount)) %> </h4>
    </div>
    <div class="card-body">
      <div class="d-flex ms-5 mb-3 gap-5 align-items-center icon-card">
        <img src="#{<%= @group.icon %>}", alt="group_icon" class="card-img">
        <h2> <%= @group.name %> </h2>
      </div>
      <% @expenses.each do |expense| %>
        <%= render expense %>
      <% end %>
    </div>
  <% end %>
  <div class="add-group-btn">
    <div class="group-btn shadow p-3 mb-5 rounded">
      <%= link_to "Add Transaction", new_user_group_expense_path(current_user), class: "new-group-btn text-light" %>
    </div>
  </div>
  </div>
</div>